@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap');

:root{
    /*theme 1*/
    /*Backgrounds*/
    --main-bgcolor-1: #3a4764;
    --keypad-bgcolor-1: #232c43;
    --screen-bgcolor-1: #182034;
    /*Keys*/
    --del-bgcolor-1: #637097;
    --del-shadow-1: #404e72;

    --calc-bgcolor-1: #d03f2f;
    --calc-shadow-1: #93261a;

    --op-bgcolor-1: #eae3dc;
    --op-shadow-1: #b4a597;
    /*Text*/
    --op-txtcolor-1: #444b5a;
    --screen-color-1: #ffffff;

    /*theme 2*/
    /*Backgrounds*/
    --main-bgcolor-2: #e6e6e6;
    --keypad-bgcolor-2: #d1cccc;
    --screen-bgcolor-2: #ededed;
    /*Keys*/
    --del-bgcolor-2: #377f86;
    --del-shadow-2: #1b5f65;

    --calc-bgcolor-2: #ca5502;
    --calc-shadow-2: #893901;

    --op-bgcolor-2: #e5e4e1;
    --op-shadow-2: #a69d91;
    /*Text*/
    --op-txtcolor-2: #35352c;
    --screen-color-2: #ffffff;

    /*theme 3*/
    /*Backgrounds*/
    --main-bgcolor-3: #160628;
    --kp-screen-bgcolor-3: #1d0934;
    /*Keys*/
    --del-bgcolor-3: #58077d;
    --del-shadow-3: #bc15f4;

    --calc-bgcolor-3: #00e0d1;
    --calc-shadow-3: hwb(177 42% 2%);

    --op-bgcolor-3: #341c4f;
    --op-shadow-3: #871c9c;
    /*Text*/
    --numbers-txtcolor-3: #ffe53d;
    --calc-txtcolor-3: #1b2428;
    --del-txtcolor-3: #ffffff;

    --fonte: 'League Spartan', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: .16s;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    width: 520px;
    display: flex;
    justify-content: space-between;
    margin: 6px;
}

.logo{
    font-family: var(--fonte);
    font-size: 25px;
    font-weight: 700;
}

.theme-slider{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme{
    font-family: var(--fonte);
    font-size: 12px;
    font-weight: 600;
}

.slider{
    padding: 0px 2px;
    border-radius: 10px;
    width: 70px;
    height: 22px;
    display: flex;
    align-items: center;
    position: relative;
}

#number-theme1{
    font-family: var(--fonte);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    left: 6px;
}

#number-theme2{
    font-family: var(--fonte);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    left: 32px;
}

#number-theme3{
    font-family: var(--fonte);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    left: 57px;
}

.bolinha{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.screen{
    text-align: right;
    width: 520px;
    padding: 30px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0px;

    font-family: var(--fonte);
    font-size: 60px;
    font-weight: 700;
}

.screen::placeholder{
    font-family: var(--fonte);
    font-size: 60px;
    font-weight: 700;
}

.botoes{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
}

.bottom-buttons{
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 60px;
    gap: 20px;
}

button{
    font-family: var(--fonte);
    font-size: 32px;
    font-weight: 700;
    border-radius: 10px;
    border: 0px;
}

@media (max-width: 522px){
    header{
        width: 320px;
    }

    .screen{
        width: 320px;
    }

    .botoes{
        grid-template-columns: 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px;
        gap: 15px;
        padding: 15px;
        justify-content: center;
    }

    .bottom-buttons{
        grid-template-columns: 135px 135px;
        grid-template-rows: 60px;
        gap: 15px;
    }
}